# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan
terraform/terraform-output.json

# Node.js dependencies
**/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Lambda deployment packages
*.zip

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables and configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/src/config.js

# Logs
logs/
*.log
